<div class="container">
  <div class="btn-wrapper">
    <button type="button" class="btn btn-primary btn-lg btn-block">
      <%= link_to "新規登録", signup_path, class: "signup-btn" %>
    </button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">
      <%= link_to "ログイン", login_path, class: "login-btn" %>
    </button>
  </div>
</div>