<table class="table table-striped table-hover">
  <%= render 'headder' %>
  <tbody>
  <%= render partial: 'user', collection: @users %>
  </tbody>
</table>
<% provide(:url, admin_viewing_time_path(@viewing_time)) %>
<%= render partial: 'btn', locals: { users: @users }%>