<%= text_field_tag :name, "", placeholder: "検索したい氏名をご入力ください", class: "js-search_form" %>
<table class="table js-users-table table-dark table-striped" style="margin-top: 50px;">
<thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">名前</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">予約状況</th>
      <th scope='col'>予約回</th>
    </tr>
  </thead>
  <tbody class="js-users_info">
    <%= render @users%>
  </tbody>
</table>
<%= paginate @users %>