<table class="table table-dark table-striped" style="margin-top: 50px;">
<thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">名前</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">予約状況</th>
      <th scope='col'>予約回</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users%>
  </tbody>
</table>
<%= paginate @users %>